 main {   
    width: 80%;
    margin: 0 auto;
    margin-top: 5vh;
    min-width: 500px;
    height: 86vh;
    padding: 10px;

    text-align: center;
    
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
}

.flex1 {
    align-self: stretch;
}




::-webkit-input-placeholder {
    color: rgb(182, 182, 182);
}