footer {       
    min-width: 500px;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    border-bottom: none;
    background-color: #999999;
    border-top-right-radius: 50px; 
    border-top-left-radius: 50px; 
}