footer {       
    min-width: 500px;
    text-align: center;
    padding: 10px;
    height: 48px;
    border-bottom: none;
    background: linear-gradient(to right, #f37331 , #FFB841, rgb(255, 242, 182));
    border-top-right-radius: 50px; 
    border-top-left-radius: 50px; 
}