header {   
    position: fixed;
    display: flex;
    flex-direction: row;  
    align-items: center;    
    justify-content: space-around;
    top:0px;
    left:0px;
    width:100vw;
    height: 5%;

    margin: 0;      
    min-width: 710px;
    padding: 5px;
    background: linear-gradient(to right, #f37331 , #FFB841, rgb(255, 242, 182));
    
}

input[type="text"], input[type="password"]{
    padding: 7px;
    border-radius: 15px;    
    border: 3px solid 	#f37331;
    background-color: #FFB841;
}

@media screen and (max-width: 800px) {
    p{
        font-size: 0;
    }
}
.img-head1 {
    width: 192px;
    height: 42px;
}

.img-head2 {
    width: 30px;
    height: 30px;
}
.flex {
    display: flex;
    align-items: center;
}


a{
    color: white;   
    text-decoration: none;
}   

