header {   
    width: 50%;    
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-around;
    min-width: 500px;
    padding: 5px;
    border: 3px solid white;
    border-top: none;
    background-color: #999999;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;    
    position: fixed;
    top: 0;
    left: 25%;
}


h1 {
    margin-left: 10px;
}

ul {    
    padding: 0;
    margin: 0;
}

p, div {    
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-around;
}

.but {
    font-size: 12pt;
    color: white;
    display: inline;
    margin-right: 20px;
    padding: 10px;
    border-radius: 15px;    
    border: 2px solid 	#CC3333;
    background-color: #CC3333;
    box-shadow: 4px 4px 0px 2px #FF0033;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
}

.but:hover{    
    box-shadow: 0 0 0 ;
    transform: translate(5px, 5px);
}

a{
    color: white;   
    text-decoration: none;
}   

