/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html {
    background-attachment: fixed; 
    height: 90%;   
}

body {    
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    min-height: 50vh;
    height: 100%;
}

.but:hover{    
    box-shadow: 0 0 0 #f37331;
    transform: scale(0.9);
}
.but {
    color: white;

    margin-right: 20px;
    padding: 10px;

    border-radius: 6px;    
    background: linear-gradient(to top right, #f37331, #fcc372);
    
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.container {    

    padding: 10px;    
    box-shadow: 0 0 10px gray;
    width: 250px;
    border: 2px solid gray;
    margin-top: 10px;
    
}

.container p {
    font-size: 16pt;
}

